  <!-- <h3 class="w3-quarter"style="font-family: 'Catamaran', sans-serif;"><%# @post.category.title %></h3> -->
  <h1 class="post title"><%= @post.title %></h1>
  <p class="post"><%= @post.user_full_name%></p>
  <p class="post"><%= @post.body %></p>
  <div class="post">

  <% if can? :manage, @post %>
    <%= link_to 'Edit', edit_post_path %>
    <%= link_to 'Delete', post_path(@post), method: :delete,
                                            data: {confirm: "Are you sure?"} %>
    <% end %>
  <br><br>
  <% @post.tags.each do |tag| %>
    <div class="w3-btn w3-round w3-teal" style="padding:3px">
      <div class="w3-btn w3-round w3-teal">
        <div class="tag_link">
          <%= link_to tag.name, tag_path(tag) %>
        </div>
      </div>
    </div>
  <% end %>
  <div id="<%= dom_id(@post) %>">
    <div class="favorites">
      <%= render 'favorites/form', post: @post %>
    </div>
  <h2>Comments</h2>
  <div id="comment-form">
    <%= render 'comments/form' %>
  </div>
  <hr>
  <div id="comments">
    <% @post.comments.each do |comment| %>
      <%= render '/comments/comment', comment: comment  %>
    <% end %>
  </div>
</div>
</div>
</div>
